body {
    background-color: #f5f7fb;
}

.login-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
}

.btn-custom {
    background-color: #18CE91;
    border-color: #18CE91;
    color: #fff;
}

    .btn-custom:hover {
        background-color: #15b981;
        border-color: #15b981;
    }

.mensaje-error {
    display: block;
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    margin-bottom: 15px;
    text-align: center;
}

.icon-btn {
    background: none;
    border: none;
    padding: 6px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

    .icon-btn:hover {
        color: #555;
    }

.action-icon {
    text-decoration: none !important;
}

.filtro-estilo {
    background-color: #f0f4f8;
    border: 1px solid #cbd5e1;
    border-radius: 0.375rem;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: #334155;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23334555" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M5.516 7.548a.625.625 0 0 1 .884 0L10 11.154l3.6-3.606a.625.625 0 0 1 .884.884l-4.134 4.134a.625.625 0 0 1-.884 0L5.516 8.432a.625.625 0 0 1 0-.884z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
}

    .filtro-estilo:focus {
        outline: none;
        border-color: #3b82f6;
        box-shadow: 0 0 0 3px rgba(59,130,246,0.3);
    }

.nav-tabs .nav-link.active {
    color: #000 !important;
    background-color: #f8f9fa !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.titulo-cuota {
    min-height: 38px;
    display: flex;
    align-items: center;
}

.textarea {
    resize: none;
    background-color: #f8f9fa;
    min-height: 120px;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

