<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
	  <authentication mode="Forms">
		  <forms loginUrl="~/Views/Account/login.aspx" defaultUrl="~/" />
	  </authentication>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
	  <!--  QA -->
	  <add key="Login" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/auth/login" />
	  <add key="Vendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="CargarVendedores" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="ConsultarVendedorId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="EditarVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="EliminarVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="TipoPersona" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoPersona"/>
	  <add key="TipoVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoVendedor"/>
	  <add key="TipoEstatus" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoEstatus"/>
	  <add key="TipoSeguro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoSeguro"/>
	  <add key="TipoCuenta" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoCuenta"/>
	  <add key="OrigenCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/origenCliente"/>
	  <add key="TipoSector" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoSector"/>
	  <add key="RegimenFiscal" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/regimenFiscal"/>
	  <add key="RFCGenerico" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/rfcGenerico"/>
	  <add key="TipoTarifa" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoTarifa"/>
	  <add key="TipoCorreo" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoCorreo"/>
	  <add key="Cliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="CargarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="ConsultarClienteId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>	  
	  <add key="EditarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="EliminarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="CargarPolizas" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="Poliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="ConsultarPolizaId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="EditarPoliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="EliminarPoliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <!--  Produccion 
	  <add key="Login" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/auth/login" />
	   <add key="Cliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="Vendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="TipoPersona" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoPersona"/>
	  <add key="TipoVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoVendedor"/>
	  -->
  </appSettings>    
</configuration>