<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	<customErrors mode="Off"></customErrors>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <!-- maxRequestLength va en KB. Por omision son 4 MB, que rechazaria los
         adjuntos del correo antes de que el codigo pueda validarlos. -->
    <httpRuntime targetFramework="4.8" maxRequestLength="30720" executionTimeout="300" />
	<!-- Sin esto, ASP.NET usa la cultura del sistema operativo del servidor: si
	     esta en ingles, los importes salen con £ y las fechas en formato mm/dd.
	     Fijarla aqui deja moneda, fechas y meses correctos en toda la aplicacion. -->
	<globalization culture="es-MX" uiCulture="es-MX" />
	<sessionState timeout="60"></sessionState>
	  <authentication mode="Forms">
		  <forms loginUrl="~/Views/Account/login.aspx" defaultUrl="~/" timeout="1440" slidingExpiration="true" />
	  </authentication>
  </system.web>

  <!-- IIS tiene su propio limite, en bytes, y es independiente del de ASP.NET:
       si no se sube tambien aqui, corta la peticion antes de que llegue. -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
	  <!--  QA -->
	  <add key="Login" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/auth/login" />
	  <add key="Vendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="CargarVendedores" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="ConsultarVendedorId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="EditarVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="EliminarVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="VendedorTipo" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="TipoPersona" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoPersona"/>
	  <add key="TipoVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoVendedor"/>
	  <add key="TipoEstatus" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoEstatus"/>
	  <add key="TipoSeguro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoSeguro"/>
	  <add key="TipoCuenta" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoCuenta"/>
	  <add key="TipoAseguradora" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoAseguradora"/>
	  <add key="TipoContratante" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/contratante"/>
	  <add key="FormaPago" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/formaPago"/>
	  <add key="Moneda" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/moneda"/>
	  <add key="SubRamo" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/subramo"/>
	  <add key="Producto" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/producto"/>
	  <add key="OrigenCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/origenCliente"/>
	  <add key="TipoSector" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoSector"/>
	  <add key="RegimenFiscal" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/regimenFiscal"/>
	  <add key="RFCGenerico" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/rfcGenerico"/>
	  <add key="TipoTarifa" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoTarifa"/>
	  <add key="TipoCorreo" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoCorreo"/>
	  <add key="Cliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="CargarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="ConsultarClienteId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>	  
	  <add key="EditarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="EliminarCliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="CargarPolizas" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="Poliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="ConsultarPolizaId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="EditarPoliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="EliminarPoliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/poliza"/>
	  <add key="CargarBeneficiarios" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/beneficiarioPreferente"/>
	  <add key="Beneficiarios" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/beneficiarioPreferente"/>
	  <add key="EliminarBeneficiario" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/beneficiarioPreferente"/>
	  <add key="EditarBeneficiario" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/beneficiarioPreferente"/>
	  <add key="ConsultarBeneficiarioId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/beneficiarioPreferente"/>
	  <add key="EstatusPoliza" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/estatusPoliza"/>
	  <add key="CargarCotizacion" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cotizacion"/>
	  <add key="Cotizacion" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cotizacion"/>
	  <add key="ConsultarCotizacionId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cotizacion"/>
	  <add key="EditarCotizacion" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cotizacion"/>
	  <add key="EliminarCotizacion" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cotizacion"/>
	  <add key="Clasificacion" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/clasificacion"/>
	  <add key="Transito" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/transito"/>
	  <add key="TipoContenedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoContenedor"/>
	  <add key="TamanioContenedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tamanioContenedor"/>
	  <add key="Certificado" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/certificado"/>
	  <add key="CargarCertificados" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/certificado"/>
	  <add key="ConsultarCertificadoId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/certificado"/>
	  <add key="EliminarCertificado" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/certificado"/>
	  <add key="CargarSiniestros" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/siniestros"/>
	  <add key="Siniestro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/siniestros"/>
	  <add key="ConsultarSiniestroId" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/siniestros"/>
	  <add key="EditarSiniestro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/siniestros"/>
	  <add key="EliminarSiniestro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/siniestros"/>
	  <add key="TipoSiniestro" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoSiniestro"/>
	  <add key="PlantillaCorreo" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/plantillaCorreo"/>
	  <add key="CategoriaPlantilla" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/categoriaPlantilla"/>
	  <!-- Cuentas que aparecen en el "De:" del envio de correo, separadas por ; -->
	  <add key="CuentasCorreo" value=""/>
	  <!--  Produccion 
	  <add key="Login" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/auth/login" />
	   <add key="Cliente" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/cliente"/>
	  <add key="Vendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/vendedor"/>
	  <add key="TipoPersona" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoPersona"/>
	  <add key="TipoVendedor" value="http://www.winsefweb.net/MercanciaSegura/API/0.1/tipoVendedor"/>
	  -->
  </appSettings>

  
  <system.net>
    <mailSettings>
      <smtp from="amelipg736@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="amelipg736@gmail.com"
                 password="zemu gygo zbac zgqy"
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>